body {
	min-width: 1200px;
	box-sizing: border-box;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: #ffffff;

	background-color: #859e90;
	background-image: url("../img/bg.png");
	background-position: top center;
	background-repeat: repeat;
}

.container {
	width: 1146px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

.button {
	font: inherit;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;

	background-color: #f06441;
}

.button:hover {
	color: #ffffff;
	background-color: #f17e65;
}

.button:active {
	color: #ffffff;

	background-color: #f06441;
}

.main-navigation {
	display: flex;
	margin-top: 10px;
	/*height: 72px;*/
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.main-navigation .container {
	display: flex;
}

.main-header-logo {
	width: 154;
	height: 64;
	margin-right: 24px;
}

.site-navigation,
.user-navigation {
	list-style: none;
	padding: 0;
	margin: 0;
}

.site-navigation {
	width: 410px;
}

.user-navigation {
	width: 267px;
	margin-left: auto;
}

.site-navigation a,
.user-navigation a {
	color: #ffffff;
}

.inner-page .site-navigation-current > a {
	background-color: #d07058;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	background-color: #f7f6f3;
	color: #333333;
}

.catalog-navigation-hover {
	display: none;
}

.catalog-navigation-hover a:hover,
.catalog-navigation-hover a:focus {
	background-color: #fbded7;
}

.catalog-navigation-hover a:active {
	background-color: #f6b5a5;
}

.container {
	position: relative;
}

.inner-container {
	position: relative;
}

.main-navigation-info {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
}

.slider h2 {
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
}

.slider a {
	font-size: 32px;
	line-height: 44px;
	font-weight: 700;
	color: #ffffff;
}

.slide-2,
.slide-3 {
	display: none;
}

.banners {
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	color: #ffffff;
}

.banner-list {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
}

.banners h3 {
	font-size: 35px;
	line-height: 41px;

}

.banner-item {
	width: 560px;
	height: 229px;
	border-radius: 15px;
}

.banner-item-crimson {
	background-image: url("../img/crimson-bg.jpg");
	background-repeat: no-repeat;
}

.banner-item-chocolate {
	background-image: url("../img/chocolate-bg.jpg");
	background-repeat: no-repeat;
}

.product-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

.product-item {
	position: relative;
	width: 267px;
	font-weight: normal;
}

.product-item a {
	color: #ffffff;
	font-weight: normal;
}

a.product-link {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.product-item a:hover,
.product-item a:active {
	color: #ffbc9e;
}

.product-item:hover {
	background-color: #9bafa3;
}

.features {
	color: #323232;
	border-radius: 15px;
	width: 1146px;
	height: 306px;
	margin-bottom: 40px;

	background-image: url("../img/pattern-bg.jpg");
	background-repeat: no-repeat;
}

.features h3 {
	font-size: 24px;
	line-height: 30px;
	color: #323232;
}

.features-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
}

.features-item {
	width: 560px;
}

.index-column {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}	

.news {
	color: #323232;
	width: 560px;
	border-radius: 15px;

	background-image: url("../img/news-bg.jpg");
	background-repeat: no-repeat;
}

.news-list {
	color: #323232;
	list-style: none;
	margin: 0;
	padding: 0;
}

.news-list h3 {
	font-weight: 700;
	color: #323232;
}

.news-list a {
	color: #323232;
	font-size: 24px;
	line-height: 30px;
	text-decoration: underline;
}

.news-list a:hover,
.news-list a:active {
	color: #e84d37;
}

.distribution {
	color: #5a5a5a;
	font-weight: 400;
	width: 560px;
	border-radius: 15px;

	background-color: #f8f7f4;
}

.map {
	position: relative;
	background-color: #f8f7f3;
	color: #323232;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 17px;
}

.contact-info {
	position: absolute;
	top: 50px;
	right: 30px;
	font-size: 14px;
	line-height: 20px;
	color: #323232;
	width: 302px;
	height: 305px;
	background-color: #fdfefe;
}

.contact-info span {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.main-footer ul {
	list-style: none;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	padding: 0;
	margin: 0;
}

.main-footer a {
	color: #ffffff;
	text-decoration: underline;
}

.main-footer a:hover,
.main-footer a:active {
	color: #ffbc9e;
}

footer .container {
	display: flex;
	justify-content: space-between;
}

.footer-social {
	width: 267px;
}

.provider {
	width: 360px;
}

.provider-list {
	display: flex;
	flex-wrap:  wrap;
}

.provider-item {
	margin-right: 22px;
}

.provider-item-love a {
	font-weight: 700;
}

.footer-copyright {
	width: 267px;
}

.footer-copyright a {
	font-size: 12px;
	line-height:  18px;
}

.modal {
	display: none;
	color: #323232;

	background-color: #f8f7f3;
}

.modal h3 {
	font-size: 24px;
	font-weight: ;
	color: #323232;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form text-area {
	font: inherit;
	color: #000000;
	font-weight: 400;

	background-color: #ffffff;
	border: 1px solid #d3d3d2;
}

.button-login-hover {
	display:  none;
	color: #323232;

	background-color: #f8f7f4;
}

.login-link-form input[type="email"],
.login-link-form input[type="password"] {
	font-size: 14px;
	line-height: 24px;
	color: #999999;

	background-color: #ffffff;
	border: 1px solid #d3d3d2;
}

.password-info a {
	font-size: 13px;
	line-height: 24px;
	font-weight: 700;
	color: #323232;
	text-decoration: underline;
}

.password-info a:hover,
.password-indo a:active {
	color: #e84d37;
}

.button-search-hover {
	display: none;
	color: #323232;

	background-color: #f8f7f4;
}

.search-link-form input[type="search"] {
	font-size: 14px; 
	line-height: 24px;
	color: #999999;

	background-color: #ffffff;
	border: 1px solid #d3d3d2;
}

input[type="email"]:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
text-area:hover {
	border: 2px solid #c7c6c5;
}

/*------Внутренняя страница---*/

.inner-page {
	font-family: "Roboto", Arial, sans-serif;
}

.page-title {
	padding: 0;
	margin: 0;
	margin-bottom: 35px;

	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
	color: #ffffff;
}

.breadcrumbs  {
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	font-weight: 400;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}

.breadcrumbs a {
	color: #ffffff;
	font-weight: 400;
	text-decoration: underline;
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
	color: #ffbc9e;
}

.filtres {
	font-weight: 400;
	width: 879px;
}

select {
	color: #ffffff;
	background-color: #9db1a5;
}

select:hover {
	color: #323232;
}

.filter-button {
	font-size: 16px;
	line-height: 18px;
	border: 2px solid #ffffff;
	color: #ffffff;
	background-color: #9cb0a4;
}

.filter-button:hover {
	color: #323232;
	background-color: #ffffff;
}

.filter-button:active {
	background-color: #eaeaea;
}

.pagination-list {
	list-style: none;
}

.pagination-list a {
	color: #ffffff;
}

.pagination-item-current a {
	color: #323232;
	background-color: #ffffff;
}


.pagination-list a:hover {
	background-color: #9db1a5;
}

.pagination-list a:active {
	color: #323232;
	background-color: #ffffff;
}